@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Black.woff') format('woff'), url('../fonts/Montserrat-Black.ttf') format('truetype'), url('../fonts/Montserrat-Black.svg') format('svg');
    font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Regular.woff') format('woff'), url('../fonts/Montserrat-Regular.ttf') format('truetype'), url('/fonts/Montserrat-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.woff') format('woff'),
        url('../fonts/OpenSans-Regular.ttf') format('truetype'),
        url('../fonts/OpenSans-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
.body {
    background: #E5E5E5;
}
.header_nav a {
    text-decoration: none;
    color: rgba(31, 32, 65, 0.5);
}
.header_nav ul {
    list-style-type: none;
    display: inline;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif; 
}
.enter {
    border: double 2px transparent;
    border-radius: 23px;
    background-image: linear-gradient(white, white), radial-gradient(circle at top, #BC9CFF, #8BA4F9);
    background-origin: border-box;
    background-clip: content-box, border-box;
    display: inline-flex;
      align-items: center;
      justify-content: center; 
      width: 83px;
      height: 30px; 
}    
.header_enter {
    position: absolute;
    left: 997px;
    top: 18px;
}
.enter__button {
      font-size: 12px;
      font-family: 'Montserrat-Black', sans-serif;
      text-transform: uppercase;
      color: #BC9CFF;
      border: none;
      background-color: inherit;
  }
.registration {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;

font-weight: bold;
font-size: 12.3px;
    color: #FFFFFF;
    border-radius: 22px;
    border: 0;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 196px;
    height: 34px;
}
.header_registration {
    position: absolute;
    left: 1104px;
top: 18px;
}
.material-icons {
    color: rgba(31, 32, 65, 0.5);
}
.logo-circle {
position: absolute;
left: 140px;
top: 15px;
}
.logo-toxin {
    position: absolute;
left: 192.5px;
top: 28.33px;
}
.header_about_us {
    position: absolute;
left: 530px;
top: 26px;
}
.header_services {
    position: absolute;
left: 593px;
top: 26px;
}
.header_services .material-icons {
position: absolute;
    left: 50px;
    top: -2px; 
}
.header_agreements .material-icons {
    position: absolute;
    left: 92px; 
    top: -2px; 
}
.header_vacancies {
    position: absolute;
    left: 687px;
top: 26px;
}
.header_news {
    position: absolute;
left: 779px;
top: 26px;
}
.header_agreements {
left: 861px;
top: 26px;
position: absolute;
}

.header {
    position: absolute;
width: 1440px;
height: 70px;
left: 0px;
top: 0px;
background: #FFFFFF;
box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}
.main {
    position: absolute;
width: 1440px;
height: 1022px;
left: 0px;
top: 70px;
background: url(/img/main.svg);
background-repeat: no-repeat;
}
.search-for-numbers {
    position: absolute;
width: 380px;
height: 374px;
left: 140px;
top: 140px;

background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.12);
box-sizing: border-box;
box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
border-radius: 4px;
}
.search-for-numbers__main-text {
    font-family: 'Open Sans', sans-serif;
font-weight: bold;
font-size: 24px;
line-height: 30px;
    position: absolute;
width: 320px;
height: 60px;
left: 30px;
top: 40px;
color: #1F2041;

}
.search-for-numbers_text {
    font-family: 'Montserrat', sans-serif;
}
.search-for-numbers_text bold {
    font-weight: bold;
font-size: 12px;
color: #1F2041;
text-transform: uppercase;
}
.search-for-numbers_text__arrival {

}

