@font-face {
    font-family: 'Montserrat-bold';
    src: url('../fonts/Montserrat-Bold.woff') format('woff'),
        url('../fonts/Montserrat-Bold.ttf') format('truetype'),
        url('../fonts/Montserrat-Bold.svg') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Regular.woff') format('woff'), url('../fonts/Montserrat-Regular.ttf') format('truetype'), url('/fonts/Montserrat-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.woff') format('woff'),
        url('../fonts/OpenSans-Regular.ttf') format('truetype'),
        url('../fonts/OpenSans-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
.body {
    background: #E5E5E5;
}
.nav a {
    text-decoration: none;
    color: rgba(31, 32, 65, 0.5);
}
.nav ul {
    list-style-type: none;
    display: inline;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif; 
}
.enter {
    border: double 2px transparent;
    border-radius: 23px;
    background-image: linear-gradient(white, white), radial-gradient(circle at top, #BC9CFF, #8BA4F9);
    background-origin: border-box;
    background-clip: content-box, border-box;
    display: inline-flex;
      align-items: center;
      justify-content: center; 
      width: 83px;
      height: 30px; 
}    
.header_enter {
    position: absolute;
    left: 997px;
    top: 18px;
}
.enter__button {
      font-size: 12px;
      font-family: 'Montserrat-bold', sans-serif;
      text-transform: uppercase;
      color: #BC9CFF;
      border: none;
      background-color: inherit;
  }
.registration, .search-for-numbers__button {
    text-transform: uppercase;
    font-family: 'Montserrat-bold', sans-serif;

font-size: 12px;
    color: #FFFFFF;
    border-radius: 22px;
    border: 0;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 196px;
    height: 34px;
}
.header_registration {
    position: absolute;
    left: 1104px;
top: 18px;
}
.search-for-numbers__button {
  position: absolute;
  left: 30px;
  top: 300px; 
  width: 320px;
height: 44px; 
}
.material-icons {
    color: rgba(31, 32, 65, 0.5);
}
.logo-circle {
position: absolute;
left: 140px;
top: 15px;
}
.logo-toxin {
    position: absolute;
left: 192.5px;
top: 28.33px;
}
.header_about_us {
    position: absolute;
left: 530px;
top: 26px;
}
.header_services {
    position: absolute;
left: 593px;
top: 26px;
}
.header_services .material-icons {
position: absolute;
    left: 50px;
    top: -2px; 
}
.header_agreements .material-icons {
    position: absolute;
    left: 92px; 
    top: -2px; 
}
.header_vacancies {
    position: absolute;
    left: 687px;
top: 26px;
}
.header_news {
    position: absolute;
left: 779px;
top: 26px;
}
.header_agreements {
left: 861px;
top: 26px;
position: absolute;
}

.header {
    position: absolute;
width: 1440px;
height: 70px;
left: 0px;
top: 0px;
background: #FFFFFF;
box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}
.main {
    position: absolute;
width: 1440px;
height: 1022px;
left: 0px;
top: 70px;
/*
background-image: url(/img/main.svg); 
background-repeat: no-repeat;
*/
}

.oy {
    position: absolute;
width: 1534px;
height: 1022px;
left: -95px;
top: -120px;
}

.search-for-numbers {
    position: absolute;
width: 380px;
height: 374px;
left: 140px;
top: 140px;

background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.12);
box-sizing: border-box;
box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
border-radius: 4px;
}
.search-for-numbers__main-text {
    font-family: 'Open Sans', sans-serif;
font-weight: bold;
font-size: 24px;
line-height: 30px;
    position: absolute;
left: 30px;
top: 40px;
color: #1F2041;

}
.search-for-numbers_text {
    font-family: 'Montserrat', sans-serif;
}
.search-for-numbers_text_bold {
    font-family: 'Montserrat-bold', sans-serif;
font-size: 12px;
color: #1F2041;
text-transform: uppercase;
}
.search-for-numbers_text__arrival {
    position: absolute;
left: 30px;
top: 120px;
}
.search-for-numbers_text__exit {
    position: absolute;
    left: 200px;
    top: 120px;
}
.search-for-numbers_text__guests {
    position: absolute;
    top: 205px;
    left: 30px;
}
.search-for-numbers__arrow-forward {
    position: absolute;
left: 306px;
top: 308.5px;
color: #FFFFFF;
font-family: Material Icons;
}
.big-footer {
    position: absolute;
width: 1440px;
height: 372px;
left: 0px;
top: 900px;
background: #FFFFFF;
box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.1);
}
.big-footer__circle {
    position: absolute;
    top: 100px;
    left: 140px;
}
.big-footer__toxin {
    position: absolute;
    top: 113.33px;
    left: 192.2px;
}
.marketing-text {
    font-family: 'Montserrat', sans-serif;
font-size: 14px;
color: rgba(31, 32, 65, 0.75);
}
.main__marketing-text {
    position: absolute;
width: 297px;
height: 48px;
left: 1056px;
top: 764px;
text-align: right;
}
.big-footer__marketing-text {
    position: absolute;
width: 260px;
height: 72px;
left: 140px;
top: 160px;
}
.h3 {
    font-family: 'Montserrat-bold', sans-serif;
font-size: 12px;
text-transform: uppercase;
color: #1F2041;
}
.big-footer__navigation {
    position: absolute;
    left: 440px;
    top: 104px;
}
.big-footer__about-us {
    position: absolute;
    left: 440px;
    top: 140px;
}
.big-footer__news {
    position: absolute;
    left: 440px;
    top: 178px;
}
.big-footer__support {
    position: absolute;
    left: 440px;
    top: 216px;
}
.big-footer__services {
    position: absolute;
    left: 440px;
    top: 254px;
}
.big-footer_h3__about-us {
    position: absolute;
    top: 104px;
    left: 640px;
}
.big-footer__about-service {
    position: absolute;
    left: 640px;
    top: 140px;
}
.big-footer__our-team {
    position: absolute;
    left: 640px;
    top: 178px;
}
.big-footer__vacancies {
    position: absolute;
    left: 640px;
    top: 216px;
}
.big-footer__investors {
    position: absolute;
    left: 640px;
    top: 254px;
}
.big-footer_h3__support {
    position: absolute;
    left: 840px;
    top: 104px;
}
.big-footer__agreements {
    position: absolute;
    left: 840px;
    top: 140px;
}
.big-footer__communities {
    position: absolute;
    top: 178px;
    left: 840px;
}
.big-footer__contacts {
    position: absolute;
    left: 840px;
    top: 216px;
}
.big-footer_h3_subscription {
    position: absolute;
    left: 1040px;
    top: 104px;
}
.big-footer__special {
    position: absolute;
    left: 1040px;
    top: 140px;
    width: 260px;
height: 48px
}
.footer {
    position: absolute;
    width: 1440px;
    height: 70px;
    left: 0px;
    top: 1273px;
    background: #FFFFFF;
box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}
.copyright {
    font-family: 'Montserrat', sans-serif;
font-size: 14px;
color: rgba(31, 32, 65, 0.75);
position: absolute;
top: 16px;
left: 140px;
}


